:global(body) {
    position: relative;
}

.label-data {
    font-weight: 500;
}

.priorityBtn {
    button {
        background-color: red !important;
    }
}

.detection-area {
    display: flex;
    flex-direction: column;
}

.dynamic-data-area {
    display: flex;
    flex-direction: column;
}
.dashboard-content {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    .content-status {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.error-notification {
    display: flex;
    .alert-icon {
        padding-top: 10px;
        height: 35px;
        margin: 10px;
    }
}
